In [2]:
import pandas as pd
import os
from pytz import timezone

In [4]:
DATA_PATH = '../data/meteo_data'
met_files = os.listdir(DATA_PATH)

In [173]:
df = pd.DataFrame()
for file in met_files:
    df_file = pd.read_csv(os.path.join(DATA_PATH, file), index_col=0)
    if 'Unnamed: 0' in df_file.columns:
        df_file = df_file.drop('Unnamed: 0', axis = 1)
    df = pd.concat((df, df_file))
    

df = df.reset_index(drop=True)

In [174]:
df.shape

(32209, 26)

In [175]:
cols_without_nans = df.isna().sum()[(df.isna().sum() == 0)].index

In [177]:
cols_without_nans

Index(['datetime', 'datetimeEpoch', 'temp', 'feelslike', 'humidity', 'dew',
       'precip', 'precipprob', 'windspeed', 'winddir', 'cloudcover',
       'conditions', 'icon', 'stations', 'source'],
      dtype='object')

In [178]:
df = df[cols_without_nans]

In [180]:



local_time = timezone('Europe/Madrid')
utc_time = timezone('UTC')

df['datetimeEpoch'] = pd.to_datetime(df['datetimeEpoch'], unit = 's')
df['datetimeEpoch'] = df.datetimeEpoch.dt.tz_localize(utc_time)
df['datetimeEpoch'] = df.datetimeEpoch.dt.tz_convert(local_time)
df['datetimeEpoch'] = pd.to_datetime(df.datetimeEpoch)
df['month'] = df.datetimeEpoch.dt.month
df['day'] = df.datetimeEpoch.dt.day
df['hour'] = df.datetimeEpoch.dt.hour
df['year'] = df.datetimeEpoch.dt.year

In [181]:
clean_df = df[(df.year != 2023)].drop_duplicates(keep='first')

In [184]:
(365*2 + 366)*24

26304

In [201]:
clean_df

In [204]:
(
    (clean_df.month.value_counts().sort_index() == 24*31*3) 
    | (clean_df.month.value_counts().sort_index() == 24*30*3) 
    | (clean_df.month.value_counts().sort_index() == 24*(28*2+29))
    )

1      True
2      True
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10    False
11     True
12     True
Name: month, dtype: bool

In [207]:
clean_df.datetimeEpoch

0       2020-01-01 00:00:00+01:00
1       2020-01-01 01:00:00+01:00
2       2020-01-01 02:00:00+01:00
3       2020-01-01 03:00:00+01:00
4       2020-01-01 04:00:00+01:00
                   ...
29948   2022-12-31 19:00:00+01:00
29949   2022-12-31 20:00:00+01:00
29950   2022-12-31 21:00:00+01:00
29951   2022-12-31 22:00:00+01:00
29952   2022-12-31 23:00:00+01:00
Name: datetimeEpoch, Length: 26306, dtype: datetime64[ns, Europe/Madrid]

In [209]:
DATA_PATH

'../data/meteo_data'

In [210]:
clean_df.to_csv(DATA_PATH + '/cleaned_meteo_data_until_2022.csv')

In [5]:
df_test = pd.read_csv(DATA_PATH + '/test_meteo_data.csv')

In [6]:
df_test.head()

,datetime,datetimeEpoch,temp,feelslike,humidity,dew,precip,precipprob,snow,snowdepth,...,visibility,cloudcover,solarradiation,solarenergy,uvindex,conditions,icon,stations,source,tzoffset
0,00:00:00,1677625200,42.3,36.4,45.53,22.8,0.0,0.0,0.0,0.0,...,10.3,31.3,NaN,NaN,NaN,Partially cloudy,partly-cloudy-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,NaN
1,01:00:00,1677628800,40.6,34.5,48.69,22.8,0.0,0.0,0.0,0.0,...,11.4,10.0,NaN,NaN,NaN,Clear,clear-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,NaN
2,02:00:00,1677632400,39.1,32.6,50.08,22.1,0.0,0.0,0.0,0.0,...,10.3,8.0,NaN,NaN,NaN,Clear,clear-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,NaN
3,03:00:00,1677636000,37.7,32.2,51.94,21.7,0.0,0.0,0.0,0.0,...,10.3,43.7,NaN,NaN,NaN,Partially cloudy,partly-cloudy-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,NaN
4,04:00:00,1677639600,36.5,30.6,56.64,22.6,0.0,0.0,0.0,0.0,...,11.4,30.0,NaN,NaN,NaN,Partially cloudy,partly-cloudy-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,NaN

In [7]:
local_time = timezone('Europe/Madrid')
utc_time = timezone('UTC')

df_test['datetimeEpoch'] = pd.to_datetime(df_test['datetimeEpoch'], unit = 's')
df_test['datetimeEpoch'] = df_test.datetimeEpoch.dt.tz_localize(utc_time)
df_test['datetimeEpoch'] = df_test.datetimeEpoch.dt.tz_convert(local_time)
df_test['datetimeEpoch'] = pd.to_datetime(df_test.datetimeEpoch)
df_test['month'] = df_test.datetimeEpoch.dt.month
df_test['day'] = df_test.datetimeEpoch.dt.day
df_test['hour'] = df_test.datetimeEpoch.dt.hour
df_test['year'] = df_test.datetimeEpoch.dt.year

In [8]:
df_test

,datetime,datetimeEpoch,temp,feelslike,humidity,dew,precip,precipprob,snow,snowdepth,...,uvindex,conditions,icon,stations,source,tzoffset,month,day,hour,year
0,00:00:00,2023-03-01 00:00:00+01:00,42.3,36.4,45.53,22.8,0.0,0.0,0.0,0.0,...,NaN,Partially cloudy,partly-cloudy-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,NaN,3,1,0,2023
1,01:00:00,2023-03-01 01:00:00+01:00,40.6,34.5,48.69,22.8,0.0,0.0,0.0,0.0,...,NaN,Clear,clear-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,NaN,3,1,1,2023
2,02:00:00,2023-03-01 02:00:00+01:00,39.1,32.6,50.08,22.1,0.0,0.0,0.0,0.0,...,NaN,Clear,clear-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,NaN,3,1,2,2023
3,03:00:00,2023-03-01 03:00:00+01:00,37.7,32.2,51.94,21.7,0.0,0.0,0.0,0.0,...,NaN,Partially cloudy,partly-cloudy-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,NaN,3,1,3,2023
4,04:00:00,2023-03-01 04:00:00+01:00,36.5,30.6,56.64,22.6,0.0,0.0,0.0,0.0,...,NaN,Partially cloudy,partly-cloudy-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,NaN,3,1,4,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,19:00:00,2023-04-01 19:00:00+02:00,69.4,69.4,24.26,31.3,0.0,0.0,0.0,0.0,...,0.0,Partially cloudy,partly-cloudy-day,"['LEBL', 'AR110', 'LELL', '08181099999', '0817...",obs,2.0,4,1,19,2023
763,20:00:00,2023-04-01 20:00:00+02:00,66.9,66.9,26.69,31.5,0.0,0.0,0.0,0.0,...,0.0,Clear,clear-day,"['LEBL', 'AR110', 'LELL', '08181099999', '0817...",obs,2.0,4,1,20,2023
764,21:00:00,2023-04-01 21:00:00+02:00,64.2,64.2,32.46,34.1,0.0,0.0,0.0,0.0,...,NaN,Partially cloudy,partly-cloudy-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,2.0,4,1,21,2023
765,22:00:00,2023-04-01 22:00:00+02:00,55.7,55.7,69.69,45.9,0.0,0.0,0.0,0.0,...,NaN,Partially cloudy,partly-cloudy-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,2.0,4,1,22,2023
766,23:00:00,2023-04-01 23:00:00+02:00,53.1,53.1,82.08,47.8,0.0,0.0,0.0,0.0,...,NaN,Partially cloudy,partly-cloudy-night,"['LEBL', 'LELL', '08181099999', '08176399999']",obs,2.0,4,1,23,2023

In [12]:
df_test.to_csv('../data/meteo_data/test_meteo_data.csv', index = None)

In [13]:
asd = pd.read_csv('../data/meteo_data/test_meteo_data.csv')